talent-sync/node_modules/
talent-sync/dist/
backend/venv/
**/__pycache__/
*.pyc
.env
backend/.env
backend/encrypted_uploads/
backend/app/__pycache__/
backend/app/core/__pycache__/config.cpython-313.pyc
